<div class="space-y-8 p-1">
  <!-- Header de FAQS
  <div class="flex items-center justify-between">
    <div>
      <h2-theme>FAQS</h2-theme>
    </div>
  </div>
  -->

  <div>
    <button-theme (click)="createFaqs()">
      <svg class="w-4 h-4 mr-2.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1" />
      </svg>
      Crear FAQS
    </button-theme>
  </div>

  <section-theme class="p-2 rounded-2xl">
    <data-grid [columns]="columns" [data]="faqs" [pageSize]="5" [pageSizeOptions]="[5,10,20,50]"
      [title]="'FAQS'" (update)="updateFaqs($event)"></data-grid>
  </section-theme>
</div>