<form-container-theme>
  <h2-theme class="mb-6">
    {{ isEditMode ? 'Actualizar Empresa' : 'Crear Empresa' }}
  </h2-theme>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">

    <!-- Primera fila: Nombre y Descripción -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <form-input-theme formControlName="VcName" placeholder="Nombre"
        [showError]="!!(form.get('VcName')?.invalid && form.get('VcName')?.touched)"
        errorMessage="El nombre es obligatorio">
      </form-input-theme>

      <form-textarea-theme formControlName="VcDescription" placeholder="Descripción" [rows]="2">
      </form-textarea-theme>
    </div>

    <!-- Segunda fila: Teléfono y Dirección -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <form-input-theme formControlName="VcPhone" placeholder="Teléfono"
        [showError]="!!(form.get('VcPhone')?.invalid && form.get('VcPhone')?.touched)"
        errorMessage="Ingresa un teléfono válido (7-15 dígitos)">
      </form-input-theme>

      <form-input-theme formControlName="VcPrincipalAddress" placeholder="Dirección Principal">
      </form-input-theme>
    </div>

    <!-- Tercera fila: Email y Representante -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <form-input-theme type="email" formControlName="VcPrincipalEmail" placeholder="Correo Principal"
        [showError]="!!(form.get('VcPrincipalEmail')?.invalid && form.get('VcPrincipalEmail')?.touched)"
        errorMessage="Ingresa un correo válido">
      </form-input-theme>

      <form-input-theme formControlName="VcLegalRepresentative" placeholder="Representante Legal">
      </form-input-theme>
    </div>

    <!-- Prompt -->
    <div>
      <form-textarea-theme formControlName="TxPrompt" placeholder="Prompt" [rows]="10">
      </form-textarea-theme>
    </div>

    <!-- Botones -->
    <div class="flex justify-end space-x-4 pt-2">
      <button-theme type="button" variant="secondary" (click)="redirectLink('/dashboard/companies')">
        Cancelar
      </button-theme>

      <button-theme type="submit" [disabled]="form.invalid" variant="primary">
        {{ isEditMode ? 'Actualizar' : 'Crear' }}
      </button-theme>
      <button-theme type="button" variant="primary" (click)="abrirModalPrueba()">
        Probar Modal
      </button-theme>

    </div>
  </form>
</form-container-theme>
<custom-dialog></custom-dialog>
