<div class="space-y-8 p-1">
  <section>
    <button-theme (click)="createBranch()">
      <svg class="w-4 h-4 mr-2.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      Crear Sede
    </button-theme>
  </section>

  <section-theme class="p-2 rounded-2xl">
    <data-grid [columns]="branchColumns" [data]="branches" [pageSize]="5" [pageSizeOptions]="[5,10,20,50]"
      [title]="'Sedes'"
      (update)="updateBranch($event)"></data-grid>
  </section-theme>
</div>
